{% load static %}

<header>
  <div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="text-muted" href="{% url 'posts:index' %}">Главная</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        {% with request.resolver_match.view_name as view_name %}
          {% if request.user.is_authenticated %}
            <a class="btn btn-sm btn-outline-secondary {% if view_name == 'posts:profile' %}active{% endif %}"
              href="{% url 'posts:profile' user.username %}">{{ user.username }}</a> &nbsp&nbsp
            <a class="btn btn-sm btn-outline-secondary {% if view_name == 'posts:post_create' %}active{% endif %}"
              href="{% url 'posts:post_create' %}">Новая запись</a> &nbsp&nbsp
            <a class="btn btn-sm btn-outline-secondary {% if view_name == 'users:password_change' %}active{% endif %}"
              href="{% url 'users:password_change' %}">Изменить пароль</a> &nbsp&nbsp
            <a class="btn btn-sm btn-outline-secondary" href="{% url 'users:logout' %}">Выйти</a>
          {% else %}
            <a class="btn btn-sm btn-outline-secondary {% if view_name == 'users:login' %}active{% endif %}"
              href="{% url 'users:login' %}">Войти</a> &nbsp&nbsp
            <a class="btn btn-sm btn-outline-secondary {% if view_name == 'users:signup' %}active{% endif %}"
              href="{% url 'users:signup' %}">Регистрация</a>
          {% endif %}
        {% endwith %}
      </div>
    </div>
    <div id="hr1">
      <hr/>
      </div>
      <style>
        #hr1 hr {
        color:#000;
        margin-bottom: -25px;
        }
      </style>
  </header>
