{% extends 'base.html' %}
<title>
  {% block title %}
    Записи сообщества {{ group.title }}
  {% endblock %}
</title>
{% block content %}
  <div class="container py-5 bg-light">
    <h1>{{ group.title }}</h1>
    <p>{{ group.description|linebreaksbr }}</p>
    <br>
    {% for post in page_obj %}
      {% include 'includes/post_card.html' with show_group=False %}
      {% if not forloop.last %}
        <hr />
      {% endif %}
    {% endfor %}
    {% include 'posts/includes/paginator.html' %}
  </div>
{% endblock %}
